.history {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    position: relative;
    width: 1245px;
    margin: 0px auto;
    min-height: 315px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    height: 440px;
    overflow-y: auto;
}
.table-title-container{
    display: grid;
    /* grid-template-columns:minmax(200px,auto) repeat(8,1fr); */
    grid-template-columns:290px repeat(5,minmax(180px,150px));
    border-bottom: 1px solid #b1b4c2;
    height: 20px;
    padding: 16px
}
.table-title-container div{
    /* text-align: center; */
}

.table-title-column{
    /* font-size: 13px; */
    line-height: 31px;
    letter-spacing: 0.8px;
    color: #0f0f0f;
    text-align: left;
    font-size: 0.875rem;
}

/**
*/

.flex-align-center{
    display: flex;
    align-items: center;
    }
    /* Shared Class */
    
    .table-row{
    display: grid;
    grid-template-columns: 40px repeat(5,minmax(100px,250px));
    min-height: 60px;
    /* padding-block: 25px; */
    align-items: center;
    justify-items: center;
    border: 1px solid white;
    margin-bottom: 4px;
    background-color: #ffffff;
    font-size: 13px;
    }
    